<% provide :title, t(".title_help") %>
<h1><%= t ".content" %></h1>
<p>
  <%= t ".get_help_on_the_ruby_on_rails_tutorial_at_the" %>
  <%= link_to (t ".rails_totorial_help_page"),
    Settings.static_pages.help_site_link %>
  <%= t ".to_get_help_on_this_sample_app" %>
  <em>
    <%= link_to (t ".ruby_on_rails_tutorials"),
      Settings.static_pages.book_link %>
  </em>
</p>
