<%= form_for(@micropost) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: (t ".text_area_placeholder") %>
  </div>
  <%= f.submit (t ".btn_text"), class: "btn btn-primary" %>
  <span class="picture">
  <%= f.file_field :picture, accept:  Settings.shared.image_extension %>
  </span>
<% end %>
